figure {
    display: inline-block;
    border: solid black;
    width: min-content;
}

figcaption {
    text-align: center;
    background: gray;
}

img {
    object-fit: fill;
    display: block;
}
